version: "3.8"

include:
  - proxy.yaml

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.python
    container_name: web
    environment:
      DB_HOST: db
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
    networks:
      backend:
        ipv4_address: 172.20.0.5
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy


  db:
    image: mysql:8
    container_name: db
    env_file:
      - .env
    networks:
      backend:
        ipv4_address: 172.20.0.10
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "mysql --user=\"$MYSQL_USER\" --password=\"$MYSQL_PASSWORD\" --database=\"$MYSQL_DATABASE\" -e 'SELECT 1'"]
      interval: 5s
      timeout: 3s
      retries: 15
      start_period: 30s
